.header {
    background-color: $light-blue;
    margin-bottom: 50px;
    .header_wrapper {
      padding: 5px 0px;
      width: 100%;
      margin: 0 auto;
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
  
      .header_column {
        i {
          color: white;
          font-size: 45px;
        }
        h3 {
          color: white;
          font-size: 35px;
          margin-left: 10px;
        }
        a {
          display: flex;
          align-items: center;
        }
        &:nth-child(2) {
          justify-self: center;
        }
        &:last-child {
          justify-self: end;
        }
        ul {
          display: flex;
          font-weight: 600;
          text-transform: uppercase;
          li:not(:last-child) {
            margin-right: 15px;
          }
          a {
            color: white;
            text-decoration: none;
          }
        }
        form {
          width: 100%;
          input {
            padding: 7px 10px;
            width: 100%;
            border-radius: 5px;
            font-size: 14px;
            color: $black;
            font-weight: 600;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
  