.header {
  background-color: $light-blue;
  margin-bottom: 50px;
  .header_wrapper {
    padding: 5px 0px;
    width: 100%;
    max-width: 1200px;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .header_column {
      h3 {
        color: white;
        font-size: 35px;
      }
      a {
        display: flex;
        align-items: center;
      }
      ul {
        display: flex;
        justify-content: space-evenly;
        margin-right: -500px;
        padding-top: 7px;
        font-weight: 450;
        font-size: 18px;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-left: 580px;
        }
        a {
          color: white;
          text-decoration: none;
        }
      }
      form {
        width: 100%;
        input {
          padding: 7px 10px;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          color: $black;
          font-weight: 600;
          &::placeholder {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}
