doctype html
html
  head
    title #{pageTitle} | eIeIO
    link(rel="stylesheet", href="/styles.css")
  body
    include /header
    main
      block content
    include /footer
    script(src="/main.js")
