<html>
  <head>
    <meta charset="utf-8" />
    <script src="jquery-3.3.1.js"></script>
    <script>
            $(function(){
                $("#header").load("header.html");
                $("#footer").load("footer.html");
            });
    </script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">       
    <title>Home | eIEIO</title>
  </head>

  <body>
    <div id="header"></div>
    <div>
      <img src="eieio_logo.png" alt="eIEIO Logo" width="500px" height="500px">
    </div>
    <div>
      <h3>
        About eIEIO:
      </h3>
        <p>
          eIEIO is a soil sampling system that allows an autonomous robot to travel around a given area 
          taking various reading of soil characteristics. 
          This service allows you to view the data and make informed decisions about your land.
          Once a piece of land is set up then surveys can be requested as frequently as you desire. 
          Visuals such as heat-maps and line graphs allow you spot areas of concern or emerging trends in your land. 
          This also allows you to test whether changes you make to your land are being effective.
          <br><br>
          eIEIO allows our users to check various characteristics of land, such as CO and soil moisture, 
          and reflecting on these readings they can maintain better soil environment, which can assist them in maximizing plant growth or crop production. 
          For instance, some farmers are worried that chemicals from nearby factories would make their land acidic. 
          With eIEIO, they will figure out whether their land has become more acidic and by how much percentage, much sooner than without one. 
          Moreover, our users (mostly farmers and gardeners) can utilise eIEIO to find the best land for their purposes before purchasing or renting one. 
        </p>
    </div>
    <div id="footer"></div>
  </body>
</html>
