extends layouts/main
include mixins/landBlock

block content
    .logo-block
      img(src='images/sdp-logo.png' alt='eIEIO Logo' height="250")
      br
      br
      h3 Welcome Back! 
      h3 View your monitored lands:

        //- h4 Helping You Make the Most of Your Land
        //- br

    .land-box
      //- h3 My Land  
      br
      .home-lands
        each land in lands
          .grid-item
            +landBlock({
              id: land.id,
              name: land.name
            })

        #add-land.grid-tem
          .form-container
            form(action=`/lands${routes.addLand}`, method="get")
              input(type="submit", value="+ Add Land")