<html>
  <head>
    <meta charset="utf-8" />
    <script src="jquery-3.3.1.js"></script>
    <script>
            $(function(){
                $("#header").load("header.html");
                $("#footer").load("footer.html");
            });
        </script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">       
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Land Name | eIEIO</title>
  </head>

  <body>
    <script type="text/javascript" src="plotlyjs-bundle.js"></script>

    <script type="text/javascript" src="figure.js"></script>
    <div id="header"></div>
    <div>
      <!-- THE ENTIRE THING-->

      <div class="row title-area" style="align-items: baseline">
        <div class="col-sm-2">
          <img
            src="https://cdn.glitch.com/fd50ba5a-4f2e-48d5-99a3-86c4e9b60c7c%2Fsdp_logo.png?v=1583493220691"
            width="200px"
            height="200px"
          />
        </div>
        <div class="col-sm-10">
          <h1>
            The Meadows
          </h1>
          <p>
            Longitude, Latitude
            <br />Last reading: Friday, 6 March 2020 11:11
          </p>
        </div>
      </div>

      <!-- Div after the title -->

      <div style="background-color: #f8f8f8">
        <!-- RECENT READINGS -->

        <div>
          <div class="title-with-margins">
            <h1>
              Most recent readings
            </h1>
          </div>
          <div
            class="row"
            style="display: flex; align-items: center; justify-content: center"
          >
            <div class="col-xs-4 col-centered">
              <div class="card card-1 card-contents">
                <h1 class="big green font-weight-light">
                  8
                </h1>
                <p class="green">
                  ppm
                </p>
                <p>
                  Carbon Monoxide
                </p>
              </div>
            </div>
            <div class="col-xs-4 col-centered">
              <div class="card card-1 card-contents">
                <h1 class="big green font-weight-light">
                  700
                </h1>
                <p class="green">
                  very moist
                </p>
                <p>
                  Soil Moisture
                </p>
              </div>
            </div>
            <div class="col-xs-4 col-centered">
              <div class="card card-1 card-contents">
                <h1 class="big red font-weight-light">
                  6
                </h1>
                <p class="red">
                  slightly acidic
                </p>
                <p>
                  pH
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- RECENT READINGS END HERE -->

<!--         <div id="pHtable"></div>  -->

        <div>
          <!-- LAND ANALYSIS AREA STARTS HERE-->
          <div class="title-with-margins">
            <h1>
              Overall land analysis
            </h1>
          </div>

          <!-- DIV PLOTS START HERE -->
          <div
            class="row"
            style="display: flex; align-items: center; justify-content: center"
          >
            <div
              id="co-heatmap"
              style="width: 1200px; margin: 25px 25px 25px 0px"
              class="plotly-graph-div col-xs-12 col-centered heatmap-format"
            ></div>
            
            <div
              id="moisture-heatmap"
              style="width: 1200px; margin: 25px 25px 25px 0px"
              class="plotly-graph-div col-xs-12 col-centered heatmap-format"
            ></div>

            <div
              id="pH-heatmap"
              style="width: 1200px; margin: 25px 25px 25px 0px"
              class="plotly-graph-div col-xs-12 col-centered heatmap-format"
            ></div>
          </div>
          <!-- DIV PLOTS END HERE -->
        </div>

        <!-- LAND ANALYSIS AREA ENDS HERE -->
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>
