<html>
  <head>
    <meta charset="utf-8" />
    <script src="jquery-3.3.1.js"></script>
    <script>
            $(function(){
                $("#header").load("header.html");
                $("#footer").load("footer.html");
            });
    </script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">       
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Login | eIEIO</title>
  </head>
  <body>
    <div id="header"></div>
    <div class="form-container">
      <form method="post" action="/login">
        <input type="email" name="email" placeholder="Email" required="true">
        <input type="password" name="password" placeholder="Password" required="true">
        <input type="submit" value="Log In">
      </form> 
    </div>
    <div id="footer"></div>
  </body>
</html>

