doctype html
html
  head
    title #{pageTitle} | eIEIO
    link(rel="stylesheet", href="/static/styles.css")
    //- link(rel="icon", href="images/sdp-logo.png", type="image/x-icon")
  body
    include partials/header
    main
      block content
    include partials/footer
    script(src="/static/main.js")
