header.header
    .header_wrapper
        .header_column
            a(href='/')
                h3 eIEIO
        .header_column
            ul
                if !user.isAuthenticated
                    li
                        a(href='/join') Join
                    li
                        a(href='/login') Log In
                else
                    li
                        a(href=`/lands${routes.addLand}`) Add Land
                    li
                        a(href='/') Log Out