header.header
    .header_wrapper
        .header_column.header-logo
            img(src='../images/sdp-logo.png' alt='eIEIO Logo' height="40")
        .header_column
            a(href='/')
                h3 eIEIO
        .header_column.header-columns-right
            ul
                if !user.isAuthenticated
                    li 
                        a(href='/') About
                    li
                        a(href='/') Contact Us
                    li
                        a(href='/join') Join
                    li
                        a(href='/login') Log In
                else
                    li
                        a(href=`/lands${routes.addLand}`) Add Land
                    li 
                        a(href='/') Help
                    li
                        a(href='/') Contact Us
                    li
                        a(href='/') Log Out

                        
